name: CI/CD to Docker Hub & Codespace

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    outputs:
      imgtag: ${{ steps.tag.outputs.IMG_TAG }}
    steps:
      - uses: actions/checkout@v4

      - name: Tag
        id: tag
        run: |
          SHORT=$(echo "${GITHUB_SHA}" | cut -c1-7)
          echo "IMG_TAG=$SHORT" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push frontend
        uses: docker/build-push-action@v4
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: |
            docker.io/${{ secrets.DOCKERHUB_USERNAME }}/frontend:${{ steps.tag.outputs.IMG_TAG }}
            docker.io/${{ secrets.DOCKERHUB_USERNAME }}/frontend:latest

      - name: Build & push backend
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            docker.io/${{ secrets.DOCKERHUB_USERNAME }}/backend:${{ steps.tag.outputs.IMG_TAG }}
            docker.io/${{ secrets.DOCKERHUB_USERNAME }}/backend:latest

  deploy:
    needs: build-and-push
    runs-on: [ self-hosted, linux ]
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Pull & Restart
        run: |
          docker compose pull
          docker compose up -d --remove-orphans
